.DS_Store

/.vscode
*/cache

# Zsh
.zsh_sessions
.zsh_history
.zcompdump


# ignore everything and allow one by one
/.config/

!.config/dlv/*
!.config/fastfetch/*
!.config/gh/*
!.config/ghostty/*
!.config/git/*
!.config/k9s/*
!.config/vscode/*
!.config/zed/keymap.json
!.config/zed/settings.json
!.config/zsh/*
!.config/starship.toml
