.DS_Store

/.vscode
*/cache

# Zed
/.config/zed/conversations
/.config/zed/prompts
/.config/zed/themes

# Zsh
.zsh_sessions
.zsh_history
.zcompdump

# Raycast
.config/raycast/extensions

/.config/.wrangler
